#web_editor-top-edit button.btn-primary {
    color: #fff;
    border: 2px solid #0061c2;
}
#web_editor-top-edit a.btn-link {
    color: #fff;
}                                                                